<script type="text/javascript">
  function initialize() {
	
	var geocoder = new google.maps.Geocoder();
	var address = '<%= @post.location -%>';
	
	geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var myOptions = {
        zoom: 16,
        center: results[0].geometry.location,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });

		contentString = '<h3><%= @post.name -%></h3>' +
		'<b>Address: </b>' + address

		var infowindow = new google.maps.InfoWindow({
			content: contentString
		})
		
	  infowindow.open(map,marker);
      }
    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<body> 
 <div id="map_canvas"></div>
</body>

